ul{
    list-style-type: none;
}

.prod{
    margin:20px 0 5px 0;
    
   
}

h1{
    padding:5px;
}

button{
    z-index:1;
    box-shadow: 5px 5px rgba(00,00,00,0.5);
    
}

.decor{
    color:gray;
}

body{
    background-color: black;;
}


